@import 'drone.defaults';
@import '~grommet/scss/grommet-core/index';
@import 'objects.button-drone';

.drone-heading {
  color: #D06000;
  letter-spacing: 2px;
}

b.drone-strong,
.drone-strong-text {
  font-weight: 700;
}

.drone-log-viewer {
  font-family: $code-font-family;
  font-size: 12px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.drone-log-viewer span {
  word-wrap: break-word;
}

.drone-log-viewer__line-item {
  max-width: 900px;
}

.drone-log-viewer__line-number {
  color: nth($brand-grey-colors, 5);
  margin-right: 12px;
}

.drone-env-tag {
  padding: 6px;
  border-radius: 8px;
}

.drone-message__container {
  border-radius: 8px;
  border-bottom-left-radius: 0px;
}

.drone-message:not(.drone-message--colored) .drone-message__container {
  background-color: #D06000;
}

.drone-avatar {
  width: 48px;
  height: 48px;
  background: white;
  border-radius: 100%;
}

.drone-logo--medium {
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
}

.drone-logo--large {
  width: 96px;
  height: 96px;
}

.drone-message-box {
  border-radius: 4px;
}

.drone-menu-item--running {
  font-weight: 700;
}

.drone-menu-item__label {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.drone-menu-item--active,
.drone-menu-item:hover,
.drone-anchor:focus .drone-menu-item {
  background-color: #333333;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.drone-status-icon,
.drone-status-circle--large {
  width: 20px;
  height: 20px;
}

.drone-status-icon--running {
  stroke: map-get($brand-status-colors, unknown);
}

.drone-status-icon--failure {
  stroke: map-get($brand-status-colors, critical);
}

.drone-status-icon--success {
  stroke: map-get($brand-status-colors, ok);
}

.drone-status-circle,
.drone-status-circle--unknown {
  fill: map-get($brand-status-colors, unknown);
}

.drone-status-circle--success {
  fill: map-get($brand-status-colors, ok);
}

.drone-status-circle--failure {
  fill: map-get($brand-status-colors, critical);
}
